body {
	margin: 0;
	padding-top: 25px;
	width: 100%;
	background-color: #eeeeee;
	color: #2222ee;
}
h3	{
	font-weight: bold;
}
.selection-box {
	border-radius: 10px;
	background-color: #222222;
	height: 7.5em;
	display: grid;
	padding: 5px;
	margin-top: 10px;
}
.selection-box h3 {
	margin: auto;
}
.month-total {
	margin-top: 100px;
	margin: 15px;
	border-radius: 15px;
	background-color: #222222;
	height: 10em;
	display: grid;
	padding: 5px;
}
.month-total h1 {
	margin: auto;
	font-weight: bolder;
}
.tv-size {
	border-radius: 15px;
	height: 4em;
	background-color: #222222;
	display: grid;
	margin: 5px;
	width: 100px;
}
.tv-size h3 {
	margin: auto;
}
.tv-count-group {
	/*width: 80%;*/
}
.hide {
	display: none;
}
.active {
	background-color: #2222ee;
	color: #222222
}
.pricing {
	margin-top: 20px;
}
#dtvPrograms {
	margin-top: 10px;
}
#uversePrograms {
	margin-top: 10px;
}
/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

}
